@import '../../Scss/Variables.scss';


.login-form{
    padding: 20px 0;
    opacity:0;
    animation:fadeIn 1s 1.5s forwards;
        display: flex;
        margin-bottom:10pc;
        margin-left :-50%;
    
    }

    input{
        background-color: rgb($primary-color,0.1);
        padding: 10px 20px;
        border: 0;
        border-bottom: solid 1px $white;
        width:100%;
        font-family: sans-serif;

    }

    

    .submit{
        cursor: pointer;
        background-color:$primary-color;
        font-weight:bold;
        transition:background-color 0.3s;
        &:hover{
            background-color:$white;
        }

    }
    
