* {
  box-sizing:border-box;
}


html{
  font-size:62.5%;
  @media (max-width:600px){
    font-size:32.5%;
  }
    
  }


body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font:300 1.2rem/1.4 'Helvetica Neue', 'san-sarif';

  color: #ccc;
  background-color: rgb(7, 7, 7);
  overflow: hidden;
  display: block;
  height: 100vh;
  margin: 0;
  padding:0;
}